---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectIndexCard from "../components/ProjectIndexCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div>
    <div class="text-xl w-full mb-5 px-4 text-neutral-800">Joseph Martinez</div>
  </div>
  <div class="py-2 px-4">
    <text class="text-md text-neutral-800">
      Software engineer with experience building full-stack web applications and
      rapid prototypes. <br /><br />
      TypeScript | Python | React | Next.js | Tailwind | Supabase | Firebase | Node.js
      | PostgreSQL | MongoDB
    </text>
  </div>
  <div class="my-8">
    <div
      class="btn btn-outline ml-4 text-neutral-800 font-medium"
      id="emailbtn"
    >
      grab my email address
    </div>
  </div>

  <div
    class="text-xl w-full text-neutral-800 font-semibold px-4 mt-12 mb-6 underline underline-offset-8"
  >
    Recent Projects
  </div>
  <ProjectIndexCard
    title="soapnotescribe"
    desc2="Uses speech-to-text and foundational models to generate and validate structured clinical notes from audio input."
    desc="Fully implemented, reliable medical charting app currently in beta with real clinical users."
    url="https://soapnotescribe.com"
    github="https://github.com/josephrmartinez/soapnotescribe"
    img="/soapnotescribe.webp"
    tech="TypeScript, Next.js, React, Tailwind, Supabase, Replicate, OpenAI, Anthropic"
  />
  <ProjectIndexCard
    title="advocate.ai"
    desc="Medical dashboard enabling patients to prepare for, record, and review healthcare appointments."
    desc2="Streaming chat component, realtime DB, custom RAG pipeline, semantic search using vector embeddings."
    url="https://advocateai.vercel.app/"
    github="https://github.com/josephrmartinez/advocate.ai"
    videoLink="https://www.youtube.com/watch?v=8egWnTs9TM8"
    img="/advocateai.webp"
    tech="TypeScript, Next.js, React, Tailwind, Supabase, Replicate, OpenAI, Exa"
  />
  <ProjectIndexCard
    title="nineideas"
    desc="Minimalist social network encouraging users to generate ideas every day."
    desc2="Implemented custom automated content moderation using a foundational AI model."
    url="https://nineideas.net/"
    github="https://github.com/josephrmartinez/nineideasfrontend"
    blogPost="https://josephm.dev/blog/20231008/"
    videoLink="https://youtu.be/VCX4nmiRctQ"
    img="/nineideas.webp"
    tech="MongoDB, Express, React, Node.js, Google Cloud, fly.io"
  />
  <ProjectIndexCard
    title="CloudAtlas"
    desc="Fine-tuned a resnet CNN model to identify cloud types."
    desc2="Built custom UI and deployed on Netlify."
    url="https://cloudatlasai.netlify.app/"
    github="https://github.com/josephrmartinez/cloudatlas"
    blogPost="https://josephm.dev/blog/20230615/"
    videoLink="https://www.youtube.com/shorts/EOrtsnnEGEU"
    img="/cloudatlas.webp"
    tech="Python, fastai, Javascript, React, Tailwind, Netlify"
  />
  <div class="my-2"></div>
  <ProjectIndexCard
    title="self-empathy app"
    desc="Simple React app to learn and practice self-empathy."
    desc2="Uses local storage to respect user privacy."
    tech="Javascript, React, React Router, Tailwind, Vite, Netlify"
    url="https://www.selfempathy.app/"
    github="https://github.com/josephrmartinez/selfempathyapp"
    blogPost="https://josephm.dev/blog/20230323/"
    mediaLink="https://www.youtube.com/watch?v=BDAWk-iA13U"
    img="/selfempathy.webp"
  />
  <a href="/projects" class="btn btn-outline my-5 ml-4 text-gray-600">
    All Projects{" "}
    <svg
      class="h-6 w-6 fill-current md:h-8 md:w-8"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      {" "}
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
      ></path>
    </svg>
  </a>

  <div>
    <div
      class="text-xl w-full text-neutral-800 font-semibold mb-5 px-4 mt-10 underline underline-offset-8"
    >
      Recent Blog Posts
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
      </>
    ))
  }

  <a href="/blog" class="btn btn-outline my-5 ml-4 text-gray-600">
    All Blog Posts{" "}
    <svg
      class="h-6 w-6 fill-current md:h-8 md:w-8"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      {" "}
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
      ></path>
    </svg>
  </a>
</BaseLayout>

<script>
  const emailbutton = document.getElementById("emailbtn");

  emailbutton.addEventListener("click", copyEmailAddress);

  function copyEmailAddress() {
    navigator.clipboard.writeText("joseph.r.martinez@gmail.com");
    emailbutton.textContent = "email address copied";
  }
</script>
