---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout title="Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <ProjectCard
    title="empathy AI"
    desc="Self-empathy app with AI integrations."
    url="https://exquisite-elf-d2dceb.netlify.app"
    github="https://github.com/josephrmartinez/empathyAI"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="habitual reactions journal"
    desc="Learn about and log conversation 'defaults.'"
    url="https://josephrmartinez.github.io/reactionsjournal/"
    github="https://github.com/josephrmartinez/reactionsjournal"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="doValues"
    desc="Values-based to-do app."
    url="https://www.dovalues.app/"
    github="https://github.com/josephrmartinez/dovalues"
    blogPost="https://josephm.dev/blog/20230228/"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="self-empathy app"
    desc="Web app to support the self-empathy process."
    url="https://www.selfempathy.app/"
    github="https://github.com/josephrmartinez/selfempathyapp"
    blogPost="https://josephm.dev/blog/20230323/"
  />
</BaseLayout>
