---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout title="Projects">
  <div>
    <div class="text-3xl w-full px-4 mb-5">Projects</div>
  </div>
  <ProjectCard
    title="ItineraryAI"
    desc="AI-powered itinerary app."
    github="https://github.com/josephrmartinez/travelai"
    blogPost="https://josephm.dev/blog/20230601/"
    videoLink="https://youtu.be/4Cx8QBDA0_A"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="Jump to Recipe"
    desc="AI-powered recipe app with Trello integration."
    github="https://github.com/josephrmartinez/skiptorecipe"
    blogPost="https://josephm.dev/blog/20230517/"
    videoLink="https://youtube.com/shorts/HcPU1TVjiXc"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="nvc at work"
    desc="Tools to support work with empathetic and Nonviolent Communication (NVC)."
    url="https://nvcatwork.com/"
    github="https://github.com/josephrmartinez/nvcatwork"
    blogPost="https://josephm.dev/blog/20230419/"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="nineideas"
    desc="Generate ideas every day."
    url="https://nineideas.net/"
    github="https://github.com/josephrmartinez/nineideas"
    blogPost="https://josephm.dev/blog/20230415/"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="EmpathyAI"
    desc="Self-empathy app with AI integrations."
    url="https://empathyai.netlify.app/"
    github="https://github.com/josephrmartinez/empathyAI"
    blogPost="https://josephm.dev/blog/20230330/"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="habitual reactions journal"
    desc="Learn about and log conversation 'defaults.'"
    url="https://josephrmartinez.github.io/reactionsjournal/"
    github="https://github.com/josephrmartinez/reactionsjournal"
    blogPost="https://josephm.dev/blog/20230402/"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="doValues"
    desc="Values-based to-do app."
    url="https://www.dovalues.app/"
    github="https://github.com/josephrmartinez/dovalues"
    blogPost="https://josephm.dev/blog/20230228/"
  />
  <div class="divider my-0"></div>
  <ProjectCard
    title="self-empathy app"
    desc="Guides users through a self-empathy process."
    url="https://www.selfempathy.app/"
    github="https://github.com/josephrmartinez/selfempathyapp"
    blogPost="https://josephm.dev/blog/20230323/"
    videoLink="https://www.youtube.com/watch?v=BwpbelruGX8"
  />
</BaseLayout>
